
/* Overide boostrap4 */
.nav{
    padding-left: 30px !important;
}
.navbar >div > ul > li:hover{    
    border-bottom: 5px solid #fa79c9;
    margin-bottom: -5px !important;  /* ต้องกำหนด margin-bottom -5px ด้วยตอนกำหนด hover */
}
.navbar >div > ul > li > div > a{
    transition: all .2s linear !important;
}
.navbar >div > ul > li > div > a:hover{
    background-color: #ffffff;
    color: #3e66b0 !important;    
    font-size: larger;    
}
/* .navbar{
    margin-bottom: 0 !important;
    border: 0 !important;
} */
/* .navbar-default {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    font-size: 18px !important;
} */
/* .navbar-default .navbar-nav > li > a {
    color: #3e66b0;
} */
/* .navbar-default .navbar-nav > .open > a{
    color: #3e66b0 !important;
    background-color: #ffffff !important;
} */
/* .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #3e66b0 !important;
    background-color: #ffffff !important;
} */
.dropdown-menu{
    border: 0 !important;
}
.dropdown-menu > li > a{
    font-size: 15px !important;
    color: #3e66b0 !important;
}
dropdown-menu:hover{
    display: block;
}

