
/* Overide boostrap4 */
.nav{
    padding-left: 30px !important;
}
.navbar >div > ul > li:hover{    
    border-bottom: 5px solid #fa79c9;
    margin-bottom: -5px !important;  /* ต้องกำหนด margin-bottom -5px ด้วยตอนกำหนด hover */
}
.navbar >div > ul > li > a {
    color: #3e66b0 !important;
}
.navbar >div > ul > li > div > a{
    transition: all .2s linear !important;
}
.navbar >div > ul > li > div > a:hover{
    background-color: #ffffff;
    color: #3e66b0 !important;    
    font-size: larger;    
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(73 138 204);
}
.dropdown-menu{
    border: 0 !important;
}
.dropdown-menu > li > a{
    font-size: 15px !important;
    color: #3e66b0 !important;
}

