
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
@font-face {
    font-family: "modern";
    src: url("../SB-MODERN.TTF");
}


/* Overide boostrap */
@media (min-width: 1200px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
}
}
@media (min-width: 1200px){
    .container {
        width: 95% !important;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
    } 
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
.container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.bg-light {
    background-color: #ffffff !important;
}